body{background-color: whitesmoke}
h1{background-color: teal; color: white}
h2{background-color: teal; color: white}
a{background-color: khaki}
th{background-color: hotpink; color: white}
.black{background-color: black; color: white}
.grey{background-color: grey; color: white}
#indianred {background-color: indianred}